@import url(https://fonts.googleapis.com/css?family=Bangers);

$color-primary: #046306;
$color-primary-light: rgb(114, 221, 114);
$color-secondary: #7851a9 ;
$box-shadow: 0  1.4rem 4rem rgba(black, .2);
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;