.message-page{
    grid-column: full-start / full-end;
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: inherit;
    grid-template-rows: max-content max-content;
}