.custom-header{
    grid-column: full-start / full-end;
    width: 100%;
    height: 30vh;
    position: relative;
    z-index: 20;

    &__content{
        width: 100%;
        background-color: $color-primary;
        height: 100%;
        padding: 8vh 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

    }

    &__title {
        display: block;
        font-family: "Bangers",cursive;
        font-size: 7rem;
        font-weight: bolder;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }

    &__list{
        display: flex;
        list-style: none;
        color: black;
    }

    &__item{
        &:not(:last-child){

            &::after{
                content: '/';
                margin-right: 1rem;
                margin-left: 1rem;
                color: black;
                font-size: 2rem;


            }
        }
    }

    &__link{
        &,
        &:link{
            text-decoration: none;
            background-color: transparent;
            font-size: 2rem;
            color: white;
            
            @include response(phone){
                font-size: 1.4rem;
            }
        }

        &:hover,
        &:active{
            color: black;
        }
    }
}

.active-class{
    text-decoration: underline;
    color: black;
    border-bottom: 2px solid black;
}