.filter{
    grid-column: center-start / col-end 2 ;
    background-color: white;
    box-shadow: 0 1.4rem 4rem rgba($color: #000000, $alpha: .2);
    display: flex;
    justify-content: center;
    align-items: center;

    @include response(tab-port){
        grid-column: full-start / full-end ;
        grid-row: unset;
    }

}

.filter-modal{
    display: flex;
    flex-direction: column;
    width: 80%;
}